@tailwind base;
@tailwind components;
@tailwind utilities;

/* style scrollbar */
.prompt::-webkit-scrollbar {
  width: 1px !important;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: rgb(6, 117, 95);
  border-radius: 10px;
}

@media (max-width: 500px) {
  .prompt::-webkit-scrollbar {
    display: none;
  }

  .prompt {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
